html, body {
	margin: 0px auto;
	padding: 0px auto;
	font-family: Tahoma;
	background-color: #2E2E2E;
}

ul {
	width: 500px;
	list-style: none;
	margin: 0px auto;
}

li {
	position: relative;
	background-color: #ACACAC;
	margin: 15px;
	padding: 10px;
	height: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

li > * {
	position: absolute;
}

li > div.rank {
	width: 50px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.5em;
	top: 15px;
}

li > div.track {
	left: 65px;
	font-weight: bold;
	font-size: 1em;
}

li > div.artist {
	left: 65px;
	font-size: .8em;
	top: 28px;
}

.albumCover {
	width: 50px;
	height: 50px;
}
